/* .products {
  height: 100vh;
  z-index: 2;
  position: absolute;
  right: 10px;
  top: 0;
} */

.text_centered {
  display: flex;
  justify-content: center;
}

.products h1 {
  font-size: 2rem;
}

.input_container {
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 15px;
  padding: 0 40px;
  padding-top: 25px;
}

.input_container label {
  position: absolute;
  top: 0;
}

/* @media (min-width: 768px) {
  .products {
    right: 3%;
  }
} */

/* @media (min-width: 1200px) {
  .products {
    right: 5%;
  }
}

@media (min-width: 1400px) {
  .products {
    right: 7%;
  }
} */
