form {
  padding: 15px 0;
  color: white;
  /* background-color: aqua; */
}

form h1 {
  font-size: 30px;
}

form .btn_submit {
  padding: 5px 10px;
  border: none;
}

.input_container {
  /* background-color: brown; */
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 15px;
}

.input_container label {
  position: absolute;
  top: 0;
}
