form {
  padding: 15px 0;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

.input_container {
  /* background-color: brown; */
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 15px;
}

.input_container label {
  position: absolute;
  top: 0;
}
