form {
  padding: 15px 0;
  color: white;
  /* background-color: aqua; */
}

.input_container {
  /* background-color: brown; */
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 15px;
}

.input_container label {
  position: absolute;
  top: 0;
}
